<h3><i>FlightBooker</i> - Available Flights</h3>

<%= form_with model: @flight, method: :get do |form| %>
  <%= form.label :departure_id, "Departing:" %>
  <%= form.select(:departure_id, @departure_options) %>
  <%= form.label :arrival_id, "To:" %>  
  <%= form.select(:arrival_id, @arrival_options) %><br>
  <%= form.label :take_off, "Departing on:" %>
  <%= form.select(:take_off, @date_options) %><br>
  <%= form.label :passenger_count, "Number of tickets:" %>
  <%= form.select(:passenger_count, @passenger_count_options) %><br>
  <%= form.submit "Search" %>
<% end %>

<%# @flights %>
<%# @flights.empty? %>
<%# @flights.inspect %>
<%# @flights.class %>
<%# @flights[0] %>
<%# @flights[0] == "[nil]" %>
<%# @flights[0].class.nil? %>

<p>
  <% if @flights.empty? %>
    No results match your search. Please try again.
  <% else %>
    <%= form_with url: 'reservations/new', method: :get do |f| %>
      <strong><%= @flights.first.drop_down_date %></strong><br>
      <%= "Number of passengers: #{ @passenger_count }" %><br>
      Flights available:<br><br>
      <% @flights.each do |flight| %>
        <%= f.radio_button :flight, flight.id %>
        <%= flight.formatted_date.to_time.strftime('%H:%M') %><br>
        <%= "Departs: #{flight.departure.city}" %><br>
        <%= "Arrives: #{flight.arrival.city}" %><br>
        <%= "Duration: #{flight.duration} min" %><br><br>
      <% end %>
      <%= f.submit "Book flight" %>
    <% end %>
  <% end %>
</p>