<h3><i>FlightBooker</i> - Available Flights:</h3>

<%= form_with model: @flight, method: :get do |form| %>
  <%= form.label :notes, "Notes:" %>
  <%= form.text_field :notes %>
  <%= form.label :departure_id, "Departing:" %>
  <%= form.select(:departure_id, @departure_options) %>
  <%= form.label :arrival_id, "To:" %>  
  <%= form.select(:arrival_id, @arrival_options) %><br>
  <%= form.label :take_off, "Departing on:" %>
  <%= form.select(:take_off, @date_options) %><br>
  <%= form.label :passenger_count, "Number of tickets:" %>
  <%= form.select(:passenger_count, @passenger_count_options) %><br>
  <%= form.submit "Search" %>
<% end %>

<%# @flights %>
<%# @flights.inspect %>
<%# @flights.class %>
<%# @flights[0] %>
<%# @flights[0] == "[nil]" %>
<%# @flights[0].class.nil? %>

<p>
  <% if @flights[0] == "nil" %>
    No results match your search. Please try again.
  <% else %>  
    <% @flights.each do |flight| %>
      <%= flight %><br>
      <%= return "No results match your search. Please try again" if flight.nil? %>
      <%= "Departs: #{flight.departure.city}" %><br>
      <%= "Arrives: #{flight.arrival.city}" %><br>
      <%= "Takeoff: #{flight.formatted_date}"%><br> 
      <%= "Duration: #{flight.duration} min" %><br><br>
    <% end %>
  <% end %>
</p>