<h3><i>FlightBooker</i> - Available Flights:</h3>

<%= form_with model: @flight, method: :get, local: true do |form| %>
  <%= form.label :departure_id, "Departing:" %>
  <%= form.select(:departure_id, @departure_options) %>
  <%= form.label :arrival_id, "To:" %>  
  <%= form.select(:arrival_id, @arrival_options) %><br>
  <%= form.label :take_off, "Departing on:" %>
  <%= form.select(:take_off, @date_options) %><br>
  <%= form.label :passenger_count, "Number of tickets:" %>
  <%= form.select(:passenger_count, @passenger_count_options) %><br>
  <%= form.submit "Search" %>
<% end %>

<%# @flights.inspect %>
<%# @flights[0] %>
<!-- break -->
<%# @flights[0].inspect %>
<%# @flights[0].inspect == "nil" %>
<%# @flights.nil? %>
<%# @flights.class %>
<%# @flights.empty? %>

<p>
<% if @flights[0].inspect == 'nil' %>
  There were no flights found. Please try another search.
<% else %>
    <% @flights.each do |flight| %>
      <%# formatted_date = flight.date.strftime(%F%T) %>
      <%= flight %><br>
      <%= "Departs: #{flight.departure.city}" %><br>
      <%= "Arrives: #{flight.arrival.city}" %><br>
      <%= "Takeoff: #{flight.formatted_date}"%><br> 
      <%= "Duration: #{flight.duration} min" %><br><br>
    <% end %>
<% end %>
</p>